nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 32px;
    max-width: 400px;
    margin: 0 auto;
    height: 105px;
}

.navbar {
    height: 70px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.item {
    display: flex;
    position: relative;
    padding: 2px;
}

/* .item.active .item-icon {
    margin-top: -26px;
    box-shadow: 0 0 15px var(--accent-color);
    border: 1px solid var(--accent-color);
}

.item.active .item-text {
    transform: scale(1);
} */

.item:hover .item-icon {
    margin-top: -26px;
    box-shadow: 0 0 15px var(--accent-color);
    border: 1px solid var(--accent-color);
}

.item:hover .item-text {
    transform: scale(1);
}

.active .item-icon {
    margin-top: -26px;
    box-shadow: 0 0 15px var(--accent-color);
    border: 1px solid var(--accent-color);
}

.active .item-text {
    transform: scale(1);
}



.item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
}

.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    background-color: var(--main-color);
    border-radius: 50%;
    height: 46px;
    width: 46px;
    transition: margin-top 250ms ease-in-out, bos-shadow 250ms ease-in-out;
}

.item-text {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}