* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.app {
  height: calc(100vh-100px);
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 32px;
  padding-bottom: 105px;
  /* padding for navbar */
  text-align: center;
  max-height: 100vh;

  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

main::-webkit-scrollbar {
  width: 0.5em;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main::-webkit-scrollbar-thumb {
  background-color: darkslategray;
  outline: 1px solid slategrey;
}




.darkCard {
  display: flex;
  min-height: 70px;
  padding: 8px;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 16px 0 black;
  border-radius: 8px;
  border: 1px solid black;
}

a,
button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  color: var(--main-text-color);
}

a:hover,
button:hover {
  color: white;
}